body {
    background-color: #ffe8d6;
}

h1 {
    color: #cb997e;
    font-size: 36px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    margin: 10px;
    padding: 20px;
}

p {
    color: #6b705c;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
}

